.row {
    width: 90%;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.floor {
    height: 200px;
}

.lift {
    transition-property: top;
    transition-duration: 5s;
    transition-timing-function: linear;
    position: absolute;
    height: 200px;
    display: flex;
    flex-direction: row;
}

.lift-background{
    width: 100%;
    height: 100%;
    background-color: black;
    margin-left: 1vw;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
}

.lift-door {
    transition-property: margin-left;
    transition-duration: 2s;
}

.lift-button {
    width: 100px;
    background-color: #4CAF50;
    font-family: "Montserrat";
    color: white;
    padding: 14px 20px;
    margin: 8px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}



hr {
    height: 1px;
    background-color: black;
    margin: 0;
    width: 100%;
}

body{
    margin: 0;
}

input[type=number], select {

    padding: 12px 20px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label {
    font-family: "Montserrat";
}

h3 {
    font-family: "Montserrat";
    padding-top: 15px;
    padding-bottom: 10px;
    margin: 0;
}

#submit {
    background-color: #4CAF50;
    font-family: "Montserrat";
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#submit:hover {
    background-color: #45a049;
}
  